$cWhite: white;
$cGray: #D0D0D0;
$cBlack: black;

$header-height: 7.8125vh;
$margin: $header-height / 4;
$icon-size: $header-height / 2;
$icon-radius: $icon-size / 2;
$line-thickness: 0.25vh;
$menu-span-width: $header-height * 0.7071;
$menu-span-padding: ($icon-size - (3 * $line-thickness)) / 2;
$records-area-width: 62.986vw;
$type-button-height: 8.7890625vh;
$type-button-width: calc(($records-area-width - $margin * 2) / 3);
$main-height: 100vh - $header-height - $line-thickness - $margin * 2;
$chart-area-height: $main-height - $type-button-height - $margin;
$top5-area-width: calc(100vw - $records-area-width - $margin * 3);
$score-area-width: calc($records-area-width - $margin * 2);
$above-area-height: $chart-area-height - $type-button-height - $margin * 3;
$chart-width: $records-area-width * 0.71;
$record-nums-area-width: calc($records-area-width - $chart-width - $margin * 3);
$score-width: calc(($score-area-width - $margin) / 2);
$record-days-height: $above-area-height - $type-button-height - $margin;
$top5-height: $type-button-height / 2;
$top5-width: calc($top5-area-width - $margin * 2);
$top5-margin: $top5-height / 5;
$top5-song-width: calc($top5-width * 3 / 4);
$top5-artist-width: calc($top5-width / 4);
$top5-area-height: $top5-height * 6 + $top5-margin *4 + $margin * 5;
$hexagon-margin: $chart-area-height / 8;
$hexagon-height: $above-area-height - $hexagon-margin * 2;
$hexagon-width: $hexagon-height * sqrt(3) / 2;
$menu-area-width:15vw;
$manu-main-margin: ($header-height + $margin) * 2;
$menu-open-duration:0.7s;

$large-font-size: 2.0vw;
$middle-font-size:1.5vw;
$small-font-size:1vw;

body {
    margin: 0px;
}

header {
    display: flex;
    height: $header-height;
    width: 100vw;
    .header-item {
        margin: $margin;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        
        &#icon {
            height: $icon-size;
            width: $icon-size;
            border-radius: $icon-radius;
        }
        &#description {
            height: $margin;
            margin-top: $icon-size;
            margin-right: 0px;
            margin-left: 0px;
            font-size: $small-font-size;
        }

        &#title {
            height: $icon-size;
            width: auto;
            white-space: nowrap;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: $large-font-size;
        }

        &#menu-icon {
            height: $icon-size;
            width: $menu-span-width;
            margin-left: auto;
            flex-direction: column;
            z-index: 2;
            padding: 0px;
            
            
            & > span {
                background-color: $cBlack;
                height: $line-thickness;
                width: $menu-span-width;
                margin-bottom: $menu-span-padding;
                display: block;
                transition: transform $menu-open-duration;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.horizontal-line {
    background-color: $cBlack;
    height: $line-thickness;
    width: 100vw;
    margin: 0;
    display: block;
}

main {
    display: flex;

    .records-area {
        height: $main-height;
        width: $records-area-width;
        margin: $margin;

        & > .chart-area {
            background-color: $cGray;
            height: $chart-area-height;
            width: $records-area-width;
            display: inline-block;

            & > .above-area {
                height: $above-area-height;
                width: $score-area-width;
                margin: $margin;
                display: flex;

                & > .chart {
                    background-color: $cWhite;
                    height: $above-area-height;
                    width: $score-area-width;
                    margin-right: $margin;
                    position: relative;

                    & > .type {
                        font-size: $middle-font-size;
                        white-space: nowrap;
                        position: absolute;
                        top: 0%;
                        left: $margin;
                    }

                    & > .hexagon {
                        background-color: $cGray;
                        height: $hexagon-height;
                        width: $hexagon-width;
                        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                        margin-top: $hexagon-margin;
                        margin-left: 50%;
                        transform: translate(-50%, 0%);

                        & > .average-hexagon {
                        background-color: $cWhite;
                        height: $hexagon-height;
                        width: $hexagon-width;
                        margin-top: $hexagon-margin;
                        margin-left: 50%;
                        transform: translate(-50%, 0%);
                        }
                    }

                    & > .pitch {
                        font-size: $middle-font-size;
                        white-space: nowrap;
                        position: absolute;
                        top: 15%;
                        left: 50%;
                        transform: translate(-50%, -100%);
                    }

                    & > .stability {
                        font-size: $middle-font-size;
                        white-space: nowrap;
                        position: absolute;
                        top: 30%;
                        left: 80%;
                        transform: translate(0%, -50%);
                    }

                    & > .expressive {
                        font-size: $middle-font-size;
                        white-space: nowrap;
                        position: absolute;
                        top: 70%;
                        left: 80%;
                        transform: translate(0%, -50%);
                    }

                    & > .hearing {
                        font-size: $middle-font-size;
                        white-space: nowrap;
                        position: absolute;
                        top: 85%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                    }

                    & > .rhythm {
                        font-size: $middle-font-size;
                        white-space: nowrap;
                        position: absolute;
                        top: 70%;
                        left: 20%;
                        transform: translate(-100%, -50%);
                    }

                    & > .vibrato-longtone {
                        font-size: $small-font-size;
                        white-space: nowrap;
                        position: absolute;
                        top: 30%;
                        left: 25%;
                        transform: translate(-100%, -50%);
                    }
                    
                    & > div {
                        text-align: center;
                    }

                    & > div .average-value {
                        font-size: $middle-font-size;
                    }
                }

                & > .record-nums-area {
                    height: $above-area-height;
                    width: $record-nums-area-width;
                    margin-left: auto;

                    & > .record-days {
                        height: $record-days-height;
                        width: $record-nums-area-width;
                        display: block;

                        & > span {
                            height: $top5-height;
                            width: $record-nums-area-width;
                            margin-bottom: $top5-margin;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: $middle-font-size;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            &:first-child {
                                background-color: transparent;
                                display: block;
                                margin-bottom: $margin;
                                justify-content: left;
                                font-size: $middle-font-size;
                            }
                        }
                    }

                    & > .record-count {
                        background-color: $cWhite;
                        height: $type-button-height;
                        width: $record-nums-area-width;
                        margin-top: $margin;
                        display: flex;

                        & > div {
                            font-size: $small-font-size;
                            white-space: nowrap;
                            display: flex;

                            &:nth-child(1) {
                                font-size: $middle-font-size;
                            }

                            &:nth-child(2) {
                                left: $margin;
                            }

                            &:nth-child(3) {
                                transform: translateX(-100%);
                                right: $margin;
                            }
                        }
                    }
                }
            }

            & > .score-area {
                height: $type-button-height;
                width: $score-area-width;
                margin-left: $margin;
                display: inline-flex;

                & > .score {
                    background-color: $cWhite;
                    height: $type-button-height;
                    width: $score-width;
                    display: flex;
                    font-size: $small-font-size;

                    &:first-child {
                        margin-right: $margin;
                    }

                    & > div {
                        white-space: nowrap;
                        display: flex;

                        &:nth-child(1) {
                            font-size: $middle-font-size;
                        }

                        &:nth-child(3) {
                            margin-right: $margin;
                        }
                    }
                }
            }
        }

        & > .type-select-area {
            height: $type-button-height;
            width: $records-area-width;
            margin-top: $margin;
            display: inline-flex;

            & > button {
                background-color: $cGray;
                border: none;
                height: $type-button-height;
                width: $type-button-width;
                margin-right: $margin;
                display: flex;
                font-size: $large-font-size;
                align-items: center;
                justify-content: center;
                white-space: nowrap;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    .top5-area {
        height: $main-height;
        width: $top5-area-width;
        margin-top: $margin;
        display: block;

        & > .top5-songs-area {
            background-color: $cGray;
            height: $top5-area-height;
            width: $top5-area-width;

            & > span {
                background-color: $cWhite;
                height: $top5-height;
                width: $top5-width;
                margin-left: $margin;
                margin-bottom: $top5-margin;
                display: inline-flex;

                &:first-child {
                    background-color: transparent;
                    margin: $margin;
                    font-size: $large-font-size;
                    white-space: nowrap;
                }

                & > .song-name {
                    width: $top5-song-width;
                    margin-left: $margin;
                    // display: flex;
                    font-size: $middle-font-size;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-items: center;
                }

                & > .artist-name {
                    width: $top5-artist-width;
                    font-size: $small-font-size;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-items: center;
                }
            }
        }

        & > .favorite-songs-area {
            background-color: $cGray;
            height: $top5-area-height;
            width: $top5-area-width;
            margin-top: $margin;

            & > span {
                background-color: $cWhite;
                height: $top5-height;
                width: $top5-width;
                margin-left: $margin;
                margin-bottom: $top5-margin;
                display: inline-flex;

                &:first-child {
                    background-color: transparent;
                    margin: $margin;
                    font-size: $large-font-size;
                    white-space: nowrap;
                }

                & > .song-name {
                    width: $top5-song-width;
                    max-width: $top5-song-width;
                    margin-left: $margin;
                    // display: flex;
                    font-size: $middle-font-size;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-items: center;
                }

                & > .artist-name {
                    width: $top5-artist-width;
                    font-size: $small-font-size;;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-items: center;
                }
            }
        }
    }
}

#menu-area {
    background-color: $cGray;
    height: 100vh;
    width: $menu-area-width;
    position: fixed;
    top: 0;
    right:-$menu-area-width;
    z-index: 1;
    transition: transform $menu-open-duration;
    
    & > ul {
        margin-top: $manu-main-margin;

        & > li {
            list-style: none;
            font-size: $middle-font-size;
            margin-bottom: $margin;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:nth-child(1) > span {
                color: $cWhite
            }
        }

        & > #login-btn {
            background-color: transparent;
            border: none;
            display: block;
            font-size: $small-font-size;
            margin-top: $top5-area-height;
            margin-bottom: 0;

            &:hover {
                background-color: $cWhite;
            }
        }

        & > #update-btn {
            background-color: transparent;
            border: none;
            font-size: $middle-font-size;
            margin-top: $margin;

            &:hover {
                background-color: $cWhite;
            }
        }
    }
}

.top-left {
    left: $margin;
    position: relative;
    transform-origin: left;
    transform: translate(-50%, 0%);
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.bottom-right {
    position: relative;
    margin-top: auto;
    margin-left: auto;
}

.menu-open {
    & > header > #menu-icon > span {
        transition: transform $menu-open-duration;

        &:nth-child(1) {
            transform: rotateY(180deg) rotateZ(45deg) translateX($menu-span-width);
            transform-origin: right;

        }
        &:nth-child(2) {
            transform: scaleX(0);
            transform-origin: right;
        }
        &:nth-child(3) {
            transform: rotateY(180deg) rotateZ(-45deg) translateX($menu-span-width);
            transform-origin: right;
        }  
    }

    & > #menu-area {
        transition: transform $menu-open-duration;
        transform: translateX(-$menu-area-width);
    }
}